H1 {font-size: 32pt;
  font-family: Calligrapher, Magneto;
  font-weight: bolder;
  color: #D1E2FF}

P {font-family: Arial, Boulder;
  color: #808080;
  margin-left: 20}  

A {text-decoration: none;
  color: #808080;
  font-weight: bolder;
  font-style: italic}

IMG {margin: 15pt}

